.rootfs/
IMAGE/
br.log
buildroot/output/
buildroot/dl/
buildroot/package/
device/rockchip/.BoardConfig.mk
kernel/
rkbin/bin/rk35/FlashHead.bin
rkbin/bin/rk35/UsbHead.bin
u-boot/
ubuntu-18.04/
ubuntu-20.04/
output/
README.md
/rockdev
*.o
*.cmd
*.ko
*.mod.c
*.mod
Module.symvers
modules.order
buildroot
app
debian
prebuilts
linuxfs
recovery
rkbin
yocto
Makefile
build.sh
device
docs
external
rkflash.sh
tools
release_ok3568.sh
