#!/usr/bin/env xdg-open
[Desktop Entry]
Name=UbootMenu
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/ubootmenu-icon.png
Exec=/usr/bin/fltest_qt_ubootmenu
Type=Application
ProgramType=gui
Name[en_US]=qt5_ubootmenu.desktop
