# override defaults
BR2_PACKAGE_WIRELESS_TOOLS=n
BR2_PACKAGE_IW=n
BR2_PACKAGE_WIRELESS_TOOLS=n
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_DEBUGUTILS=n
BR2_PACKAGE_MPP_TESTS=n
BR2_PACKAGE_CAN_UTILS=n
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_RKISP_DEMO=n
BR2_PACKAGE_BLUEZ5_UTILS=n
BR2_PACKAGE_BLUEZ5_UTILS_GATTTOOL=n
BR2_PACKAGE_FLAPP=y
BR2_PACKAGE_FORLINX_QT=n
BR2_PACKAGE_IW=n
BR2_PACKAGE_WPA_SUPPLICANT=n
BR2_PACKAGE_HOST_PYTHON_CYTHON=n
BR2_PACKAGE_PYTHON_NUMPY_ARCH_SUPPORTS=n

# newly added
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_LZO=y
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_PACKAGE_HOST_GDB_PYTHON=y
BR2_PACKAGE_HOST_GDB_SIM=y
BR2_GDB_VERSION_8_1=y
BR2_PACKAGE_GDB_NEEDS_CXX11=y
BR2_GDB_VERSION="8.1.1"

BR2_PACKAGE_SPI_TOOLS=y
BR2_PACKAGE_LINUX_SERIAL_TEST=y
BR2_PACKAGE_MINICOM=y
BR2_PACKAGE_LIBSERIAL=y
BR2_PACKAGE_LIBSERIALPORT=y
BR2_PACKAGE_LIBMODBUS=y
BR2_PACKAGE_IFUPDOWN=y

# event loop
BR2_PACKAGE_LIBASIO=y
# BR2_PACKAGE_LIBUV=y

# for lspci
BR2_PACKAGE_PCIUTILS=y

# for rs485 setting
BR2_PACKAGE_RS485CONF=y

# js
BR2_PACKAGE_JSONCPP=y
BR2_PACKAGE_LIBXMLRPC=y
BR2_PACKAGE_TINYXML2=y
BR2_PACKAGE_XERCES=y

# data exchange
BR2_PACKAGE_PROTOBUF=y
BR2_PACKAGE_ZEROMQ=y
BR2_PACKAGE_CZMQ=y
BR2_PACKAGE_ZMQPP=y
BR2_PACKAGE_CPPZMQ=y
BR2_PACKAGE_CC_COMMS=y
BR2_PACKAGE_HOST_CC_COMMSDSL=y
BR2_PACKAGE_CC_MQTT5=y
BR2_PACKAGE_CC_X509=y

# math
BR2_PACKAGE_EIGEN=y
BR2_PACKAGE_FFTW=y
BR2_PACKAGE_GSL=y

# db
BR2_PACKAGE_REDIS=y

# utils
BR2_PACKAGE_LIBCONFIG=y
BR2_PACKAGE_VIM=y

# aio
BR2_PACKAGE_LIBAIO=y

# dev
BR2_PACKAGE_GTEST=y
BR2_PACKAGE_GFLAGS=y
BR2_PACKAGE_GLOG=y
BR2_PACKAGE_FMT=y
BR2_PACKAGE_SPDLOG=y
BR2_PACKAGE_CATCH2=y
#include "jw_boost.config"

# network
#include "jw_network.config"

# hepsoft
#include "jw_hep.config"

# ml
#include "jw_ml.config"

# bug-fix

# custom
BR2_PACKAGE_XDMA_TOOLS=y
BR2_PACKAGE_CC_TUTORIAL=y
