# override defaults
BR2_TARGET_GENERIC_ISSUE="Welcome to JW3568 Buildroot"
BR2_TARGET_GENERIC_HOSTNAME="jw3568"
BR2_PACKAGE_ANDROID_TOOLS=n
BR2_PACKAGE_WIRELESS_TOOLS=n
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_RKISP_DEMO=n
BR2_PACKAGE_BLUEZ5_UTILS=n
BR2_PACKAGE_FLAPP=y
BR2_PACKAGE_FORLINX_QT=n
BR2_PACKAGE_QT5CONNECTIVITY=y
BR2_PACKAGE_IW=n
BR2_PACKAGE_BLUEZ5_UTILS_GATTTOOL=n
BR2_PACKAGE_CAN_UTILS=n
BR2_PACKAGE_WPA_SUPPLICANT=n
BR2_PACKAGE_HOST_PYTHON_CYTHON=n

# newly added
BR2_PACKAGE_SPI_TOOLS=y
BR2_PACKAGE_LINUX_SERIAL_TEST=y
BR2_PACKAGE_MINICOM=y
BR2_PACKAGE_LIBSERIAL=y
BR2_PACKAGE_LIBSERIALPORT=y
BR2_PACKAGE_LIBMODBUS=y
BR2_PACKAGE_IFUPDOWN=y

# event loop
BR2_PACKAGE_LIBASIO=y
BR2_PACKAGE_LIBUV=y

# for lspci
BR2_PACKAGE_PCIUTILS=y

# for rs485 setting
BR2_PACKAGE_RS485CONF=y

# js
BR2_PACKAGE_NODEJS=y
BR2_PACKAGE_ANGULARJS=y
BR2_PACKAGE_JSONCPP=y
BR2_PACKAGE_LIBXMLRPC=y
BR2_PACKAGE_TINYXML2=y
BR2_PACKAGE_XERCES=y

# data exchange
BR2_PACKAGE_PROTOBUF=y
BR2_PACKAGE_ZEROMQ=y

# math
BR2_PACKAGE_EIGEN=y
BR2_PACKAGE_FFTW=y
BR2_PACKAGE_GSL=y

# db
BR2_PACKAGE_REDIS=y

# utils
BR2_PACKAGE_LIBCONFIG=y
BR2_PACKAGE_ASSIMP=y
BR2_PACKAGE_VIM=y

# bug-fix
BR2_PACKAGE_IFPLUGD=y

# custom
BR2_PACKAGE_XDMA_TOOLS=y
