# override defaults
BR2_TARGET_GENERIC_ISSUE="Welcome to JW3568 Buildroot"
BR2_TARGET_GENERIC_HOSTNAME="jw3568"
BR2_PACKAGE_ANDROID_TOOLS=n
BR2_PACKAGE_WIRELESS_TOOLS=n
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_RKISP_DEMO=n
BR2_PACKAGE_BLUEZ5_UTILS=n
BR2_PACKAGE_FLAPP=n

# newly added
BR2_PACKAGE_SPI_TOOLS=y
BR2_PACKAGE_LINUX_SERIAL_TEST=y
BR2_PACKAGE_MINICOM=y
BR2_PACKAGE_LIBSERIAL=y
BR2_PACKAGE_LIBSERIALPORT=y
BR2_PACKAGE_LIBMODBUS=y

BR2_PACKAGE_BOOST=y