# debug subset is all the debug tools we used

#  - lrzsz used to transfer file between device and secure crt
BR2_PACKAGE_LRZSZ=y
#  - procrank used to monitor the memory used by each process, thread, application
BR2_PACKAGE_PROCRANK_LINUX=y
#  - install the libdrm test programs
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
#  - strace used to track what system calls a program makes
BR2_PACKAGE_STRACE=y
# function test for Rockchip stress test
BR2_PACKAGE_ROCKCHIP_TEST=y
#  - add stress-ng
BR2_PACKAGE_STRESS_NG=y
# Provides things like kill, ps, uptime, free, top, etc for next generation
BR2_PACKAGE_PROCPS_NG=y
# Provides things like mpi_dec_test, mpi_enc_test.....
BR2_PACKAGE_MPP_TESTS=y
BR2_PACKAGE_MMC_UTILS=y
BR2_PACKAGE_FIO=y
BR2_PACKAGE_IOZONE=y

### network ###
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_TCPDUMP_SMB=y

### gdb ###
BR2_PACKAGE_GDB=y
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_PACKAGE_HOST_GDB_PYTHON=y
BR2_PACKAGE_HOST_GDB_SIM=y
BR2_GDB_VERSION_8_1=y
BR2_PACKAGE_GDB_NEEDS_CXX11=y
BR2_GDB_VERSION="8.1.1"
