BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_IPTABLES_BPF_NFSYNPROXY=y
BR2_PACKAGE_IPTABLES_NFTABLES=y
BR2_PACKAGE_OPENSSH=y
# BR2_PACKAGE_LIGHTTPD=y
# BR2_PACKAGE_LIGHTTPD_PCRE=y
# BR2_PACKAGE_VSFTPD=y

BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_DNSMASQ=y
BR2_PACKAGE_NTP=y

# monitor
# BR2_PACKAGE_BMON=y
BR2_PACKAGE_IFTOP=y
BR2_PACKAGE_VNSTAT=y

# test
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_IPERF3=y
BR2_PACKAGE_IPUTILS=y
BR2_PACKAGE_ETHTOOL=y

# bug-fix
BR2_PACKAGE_IFPLUGD=y
BR2_PACKAGE_IFUPDOWN=y

