BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_IPTABLES_BPF_NFSYNPROXY=y
BR2_PACKAGE_IPTABLES_NFTABLES=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_LIGHTTPD_PCRE=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_VSFTPD=y
BR2_PACKAGE_RKWIFIBT=n

#  - a DHCP client
BR2_PACKAGE_DHCPCD=y
#  - a lightweight DNS and DHCP server. It is intended to provide coupled DNS and DHCP service to a LAN
BR2_PACKAGE_DNSMASQ=y
#  - Network Time Protocol, provides things like ntpd, ntpdate, ntpq, etc...
BR2_PACKAGE_NTP=y
#  - tiny ssh server and sftp server
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_GESFTPSERVER=y

# bug-fix
BR2_PACKAGE_IFPLUGD=y

