BR2_PACKAGE_PYTHON=y
# BR2_PACKAGE_PYTHON_PY_PYC=y

# BR2_PACKAGE_PYTHON_BZIP2=y
# BR2_PACKAGE_PYTHON_BSDDB=y
BR2_PACKAGE_PYTHON_CURSES=y
BR2_PACKAGE_PYTHON_READLINE=y
# BR2_PACKAGE_PYTHON_SQLITE=y
# BR2_PACKAGE_PYTHON_PYEXPAT=y
# BR2_PACKAGE_PYTHON_ZLIB=y

BR2_PACKAGE_SUPERVISOR=y
BR2_PACKAGE_PYTHON_SSL=y
BR2_PACKAGE_PYTHON_HASHLIB=y
BR2_PACKAGE_PYTHON_PYOPENSSL=y

BR2_PACKAGE_LIBOPENSSL=y
BR2_PACKAGE_LIBOPENSSL_1_0=y
BR2_PACKAGE_LIBOPENSSL_BIN=y
BR2_PACKAGE_LIBOPENSSL_ENGINES=y
