#  - debug tools for wireless devices using the mac80211 kernel stack
BR2_PACKAGE_IW=y
#  - a collection of tools to configure wireless lan cards, including iwconfig, iwlist, iwspy, iwpriv, ifrename
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_RKWIFIBT=y

### bluetooth
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_GATTTOOL=y
