#include "rk356x_arm64.config"
#include "base.config"
#include "base_extra.config"
#include "benchmark.config"
#include "test.config"
#include "debug.config"
#include "debug2.config"
#include "ntfs.config"

# system
BR2_TARGET_GENERIC_ISSUE="Welcome to JW3568 DPU-Lite"
BR2_TARGET_GENERIC_HOSTNAME="jw3568"
BR2_TARGET_GENERIC_ROOT_PASSWD="jw3568"
BR2_TARGET_LOCALTIME="Asia/Shanghai"
BR2_ROOTFS_OVERLAY="board/rockchip/jw3568/fs-overlay/"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y

# jianwei-specific
#include "jianwei_nogui.config"

