#include "audio.config"
#include "audio_gst.config"
#include "base.config"
#include "base_extra.config"
#include "benchmark.config"
#include "bt.config"
#include "camera.config"
#include "camera_gst.config"
#include "debug.config"
#include "debug2.config"
#include "display.config"
#include "gpu.config"
#include "network.config"
#include "ntfs.config"
#include "qt.config"
#include "video_mpp.config"
#include "video_gst.config"
#include "video_gst_rtsp.config"
#include "rk356x_arm64.config"
#include "test.config"
BR2_TARGET_GENERIC_ROOT_PASSWD="jw3568"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
BR2_TARGET_LOCALTIME="Asia/Shanghai"
BR2_ROOTFS_OVERLAY="board/rockchip/jw3568/fs-overlay/"
BR2_PACKAGE_TENSORFLOW=y
BR2_PACKAGE_RKNPU2=y
BR2_PACKAGE_RKAIQ_TOOL_SERVER=y
BR2_PACKAGE_FORLINX=y
BR2_PACKAGE_MATRIX_BROWSER=y
BR2_PACKAGE_DWKEYBOARD=y
BR2_PACKAGE_QUECTELCM=y
BR2_PACKAGE_FORLINX_QT=y
BR2_PACKAGE_FORLINX_CMD=y
BR2_PACKAGE_FFMPEG_AVRESAMPLE=y
BR2_PACKAGE_FFMPEG_SWSCALE=y
BR2_PACKAGE_HICOLOR_ICON_THEME=y
BR2_PACKAGE_QT5BASE_SQLITE_QT=y
BR2_PACKAGE_QT5BASE_GIF=y
BR2_PACKAGE_QT5CHARTS=y
BR2_PACKAGE_QT5SERIALBUS=y
BR2_PACKAGE_QT5WEBKIT=y
BR2_PACKAGE_QT5WEBENGINE=y
# BR2_PACKAGE_QT5WEBENGINE_WEBRTC is not set
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_PHP=y
BR2_PACKAGE_PHP_SAPI_CGI=y
BR2_PACKAGE_PHP_SAPI_CLI=y
BR2_PACKAGE_PHP_EXT_FILEINFO=y
BR2_PACKAGE_PHP_EXT_OPCACHE=y
BR2_PACKAGE_PHP_EXT_READLINE=y
BR2_PACKAGE_PHP_EXT_ICONV=y
BR2_PACKAGE_PHP_EXT_MBSTRING=y
BR2_PACKAGE_PHP_EXT_JSON=y
BR2_PACKAGE_PHP_EXT_TOKENIZER=y
BR2_PACKAGE_PHP_EXT_CURL=y
BR2_PACKAGE_PHP_EXT_FTP=y
BR2_PACKAGE_PHP_EXT_SOAP=y
BR2_PACKAGE_PHP_EXT_XMLRPC=y
BR2_PACKAGE_TINYALSA=y
BR2_PACKAGE_LZO=y
BR2_PACKAGE_LIBGTK3=y
BR2_PACKAGE_OPENCV3=y
BR2_PACKAGE_OPENCV3_LIB_HIGHGUI=y
BR2_PACKAGE_OPENCV3_WITH_GTK3=y
BR2_PACKAGE_OPENCV3_LIB_PHOTO=y
BR2_PACKAGE_OPENCV3_LIB_SHAPE=y
BR2_PACKAGE_OPENCV3_LIB_STITCHING=y
BR2_PACKAGE_OPENCV3_WITH_JASPER=y
BR2_PACKAGE_OPENCV3_WITH_JPEG=y
BR2_PACKAGE_OPENCV3_WITH_PNG=y
BR2_PACKAGE_OPENCV3_WITH_PROTOBUF=y
BR2_PACKAGE_OPENCV3_WITH_TIFF=y
BR2_PACKAGE_OPENCV3_WITH_V4L=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_IPTABLES_BPF_NFSYNPROXY=y
BR2_PACKAGE_IPTABLES_NFTABLES=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_LIGHTTPD_PCRE=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_VSFTPD=y
BR2_PACKAGE_RKWIFIBT=n
BR2_PACKAGE_USBMOUNT=n
BR2_PACKAGE_OPENCV3_LIB_PYTHON=y
BR2_PACKAGE_LIBGTK3_BROADWAY=y
BR2_PACKAGE_LIBGTK3_WAYLAND=y
BR2_PACKAGE_OPENCV3_GUI_NONE=n
BR2_PACKAGE_QT5SERIALPORT=y
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_PACKAGE_HOST_GDB_PYTHON=y
BR2_PACKAGE_HOST_GDB_SIM=y
# BR2_GDB_VERSION_7_12 is not set
# BR2_GDB_VERSION_8_0 is not set
BR2_GDB_VERSION_8_1=y
# BR2_GDB_VERSION_8_2 is not set
BR2_PACKAGE_GDB_NEEDS_CXX11=y
BR2_GDB_VERSION="8.1.1"

# jianwei-specific
#include "jianwei.config"
#include "boost.config"



