#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Video Player
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/forlinx/movie-icon.png
Exec=fltest_qt_qplayer
Type=Application
ProgramType=gui
Name[en_US]=qt5_videoplayer.desktop
