#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Ping
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/forlinx/ping-icon.png
Exec=fltest_qt_ping_test
Type=Application
ProgramType=gui
Name[en_US]=qt5_ping.desktop
